In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data import

In [4]:
movies = pd.read_csv('../data/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings = pd.read_csv('../data/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Let's have a look at the distribution of the rating values

In [6]:
ratings.rating.value_counts(normalize=True)

rating
4.0    0.265957
3.0    0.198808
5.0    0.131015
3.5    0.130271
4.5    0.084801
2.0    0.074884
2.5    0.055040
1.0    0.027877
1.5    0.017762
0.5    0.013586
Name: proportion, dtype: float64

Now we look at the most popular movies by average rating

# User-based filtering

We find other users similar to the user weâ€™re recommending movies to. Then we recommend the movies those other users rated highly.
<br>
Two users will be declared similar if they gave a high (or low) rating to the same movies.

User A loves Fight Club and The Shawshank Redemption and dislikes Love Actually.
<br>
User B loves Fight Club, The Shawshank Redemption, and Taken, and dislikes Love Actually.
<br>
The presumption in this methodology is that Taken would be a good recommendation for User A because User A is similar to User B.